<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>你的项目</title>
    <!--添加Bootstrap和fontawesome的样式-->
    <link th:href="@{/css/theme-chalk-2.15.7.css}" href="../../static/css/theme-chalk-2.15.7.css" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- 布局容器 -->
    <link th:href="@{/css/container.css}" href="../../static/css/container.css" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" href="../../static/css/admin.css" rel="stylesheet"/>
    <!-- 布局 -->
    <link th:href="@{/css/layout.css}" href="../../static/css/layout.css" rel="stylesheet"/>
    <!-- 下拉菜单按钮样式 -->
    <link th:href="@{/css/mycss1.css}" href="../../static/css/mycss1.css" rel="stylesheet"/>
</head>
<body>

<div id="app">
    <!--主体布局-->
    <el-container>

        <!-- 头部 -->
        <div th:replace="~{fragments/header::header2}"></div>

        <!-- 主体部分 -->
        <el-main width="1500px" style="background-color: white">
            <el-row type="flex" justify="space-around">
                <el-col :span="10">
                    <div class="admin-main-row1-col1">
                        <div>
                            <div id="chart1" style="width: 100%;height:300px;"></div>
                        </div>
                    </div>
                </el-col>
                <el-col :span="12">
                    <div class="admin-main-row1-col2">
                        <el-row type="flex" justify="space-around">
                            <el-col :span="12">
                                <div style="margin-bottom: 20px">
                                    <span>访问者信息</span>
                                </div>
                            </el-col>
                            <el-col :span="12">
                                <div style="margin-bottom: 20px">
                                    <a class="btn text-decoration-none" style="color: #409EFF;"
                                       th:href="@{/adminUser}"
                                       href="adminUser.html"><span>查看所有用户</span></a>
                                </div>
                            </el-col>
                        </el-row>
                        <template>
                            <el-table :data="tableData.slice((currentPage-1)*pageSize,currentPage*pageSize)"
                                      height="330px"
                                      border
                                      stripe
                                      @row-click="dj"
                                      @selection-change="handleSelectionChange"
                                      style="width: 100%"
                            >
                                <el-table-column prop="headImg" label="头像" width="120">
                                    <template slot-scope="scope">
                                        <div class="demo-type">
                                            <div>
                                                <el-avatar :src="scope.row.headImg"></el-avatar>
                                            </div>
                                        </div>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="name" label="昵称" width="120">
                                </el-table-column>
                                <el-table-column prop="sex" label="性别" width="120">
                                </el-table-column>
                                <el-table-column prop="lastLoginTime" label="最近访问时间">
                                </el-table-column>
                                <el-table-column label="操作">
                                    <el-button type="text" @click="dialogFormVisible = true">修改
                                    </el-button>
                                </el-table-column>
                            </el-table>
                        </template>
                        <el-pagination
                                @size-change="handleSizeChange"
                                @current-change="handleCurrentChange"
                                :current-page="currentPage"
                                :page-size="pageSize"
                                layout="total, prev, pager, next, jumper"
                                :total="tableData.length">
                        </el-pagination>

                    </div>
                </el-col>
            </el-row>
        </el-main>

        <!-- 底部部分 -->
        <el-footer>
            <span style="color: white">底部</span>
        </el-footer>

    </el-container>

    <el-dialog title="修改订单" :visible.sync="dialogFormVisible" :before-close="cancel">
        <el-form :model="form">
            <el-form-item label="用户头像" :label-width="formLabelWidth">
                <el-upload
                        action="#"
                        list-type="picture-card"
                        :file-list="imgList"
                        :auto-upload="false"
                        limit="1"
                        :on-change="fn">
                    <i slot="default" class="el-icon-plus"></i>
                    <div slot="file" slot-scope="{file}">
                        <img
                                class="el-upload-list__item-thumbnail"
                                :src="file.url" alt=""
                        >
                        <span class="el-upload-list__item-actions">
                        <span
                                class="el-upload-list__item-preview"
                                @click="handlePictureCardPreview(file)"
                        >
                            <i class="el-icon-zoom-in"></i>
                        </span>
                        <span
                                v-if="!disabled"
                                class="el-upload-list__item-delete"
                                @click="handleRemove(file)"
                        >
                          <i class="el-icon-delete"></i>
                        </span>
                      </span>
                    </div>
                </el-upload>
                <el-dialog :visible.sync="dialogVisible">
                    <img width="100%" :src="dialogImageUrl">
                </el-dialog>
            </el-form-item>
            <el-form-item label="用户名" :label-width="formLabelWidth">
                <el-input v-model="form.name" autocomplete="off"></el-input>
            </el-form-item>
        </el-form>
        <div slot="footer" class="dialog-footer">
            <el-button @click="cancel">取 消</el-button>
            <el-button type="primary" @click="modificationUser">确 定</el-button>
        </div>
    </el-dialog>

</div>

<!--js脚本-->
<script th:src="@{/js/vue-2.6.14.min.js}" src="../../static/js/vue-2.6.14.min.js"></script>
<script th:src="@{/js/vue-router.js}" src="../../static/js/vue-router.js"></script>
<script th:src="@{/js/axios-0.26.js}" src="../../static/js/axios-0.26.js"></script>
<script th:src="@{/js/element-ui-2.15.7.js}" src="../../static/js/element-ui-2.15.7.js"></script>
<script th:src="@{/js/echarts.min.js}" src="../../static/js/echarts.min.js"></script>
<script th:inline="javascript">
    const option1 = {
        title: {
            text: '总用户人数',
            subtext: '2022/7/9',
            left: 'center'
        },
        tooltip: {
            trigger: 'item'
        },
        legend: {
            orient: 'vertical',
            left: 'left'
        },
        series: [
            {
                name: 'Access From',
                type: 'pie',
                radius: '50%',
                data: [
                    {value: 1048, name: '普通用户'},
                    {value: 735, name: 'VIP用户'},
                    {value: 580, name: '游客'},
                ],
                emphasis: {
                    itemStyle: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    var csrf = [[${_csrf.token}]]; // 字符串会自动添加""，数字直接显示
    let params;

    new Vue({
        el: '#app',
        data: {
            //头部模糊搜索框内容
            inputHead: '',
            //登录
            //控制登录表单显示还是隐藏
            loginFormVisible: false,
            //登录表单数据
            loginForm: {
                username: '',
                password: '',
            },
            tableData: [],  //数据
            currentPage: 1,//默认显示第一页
            pageSize: 4,//默认每页显示5条
            myChart1: null,
            changed: false,
            dialogFormVisible: false,
            form: {},
            beforeModificationForm: {
                userImg: '',
                name: '',
            },
            imgList: [],
            formLabelWidth: '150px',
            dialogImageUrl: '',
            dialogVisible: false,
            disabled: false,
        },
        methods: {
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },
            handleSelectionChange(val) {
                this.multipleSelection = val;
            },
            formatter(row, column) {
                return row.address;
            },
            dj(row) {
                this.form = row;
                this.imgList.push(
                    {url: row.headImg})
                this.beforeModificationForm.headImg = row.headImg
                this.beforeModificationForm.name = row.name
                console.log(row)
            },
            modificationUser() {
                console.log(this.form);
                console.log('图片：', this.imgList[0]);
                // 前端POST异步发送文件：
                params = new FormData()
                params.append('file', this.imgList[0].raw) // 文件 ===============
                params.append('_csrf', csrf);
                params.append('id', this.form.id);
                params.append('name', this.form.name);
                let res = {
                    headers: {'Content-Type': 'multipart/form-data'}
                }
                axios.post('/updateUser', params, res)
                    .then(response => {
                        if (response.data) {
                            this.form.headImg = this.imgList[0].url;
                            this.$message({
                                message: '用户信息已更新',
                                type: 'success'
                            });
                            this.imgList = []
                            this.dialogFormVisible = false;
                        }
                    })
                    .catch(data => {
                        this.$message('修改失败');
                        console.log(response);
                    })
            },
            //重置表单
            resetForm(loginForm) {
                this.$refs[loginForm].resetFields();
            },
            /* 呼出登录表单 ----------------------------------------*/
            login() {
                this.loginFormVisible = true
            },
            /* 确定登录 */
            loginOk(loginForm) {
                this.$refs[loginForm].validate((valid) => {
                    if (valid) {
                        this.loginFormVisible = false// 隐藏表单
                        //把表单数据赋值给data
                        let data = {
                            username: this.loginForm.username,
                            password: this.loginForm.password
                        }
                        const params = new URLSearchParams();
                        params.append('username', this.loginForm.username);
                        params.append('password', this.loginForm.password);
                        //发送请求到后端删除sql数据
                        axios.get('/login', params)
                            .then((response) => {
                                if (response.data) {
                                    this.$message({
                                        type: 'success',
                                        message: '登录成功!'
                                    });
                                } else {
                                    this.$message({
                                        type: 'info',
                                        message: '登录败败!'
                                    });
                                }
                            })
                            .catch((error) => {
                                    this.$message({
                                        type: 'error',
                                        message: '登录请求失败!'
                                    });
                                    console.log(error)
                                }
                            )
                        //清除表单绑定的数据
                        Object.keys(this.loginForm).forEach(key => this.loginForm[key] = '');
                        this.resetForm(loginForm)
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            /* 取消登录 */
            loginNo(loginForm) {
                this.loginFormVisible = false
                //清除表单绑定的数据
                Object.keys(this.loginForm).forEach(key => this.loginForm[key] = '');
                this.resetForm(loginForm)
                //提示
                this.$notify.info({
                    title: '消息',
                    message: '您取消了登录'
                });
            },
            /*文件上传*/
            handleRemove(file) {
                this.imgList = [];
            },
            handlePictureCardPreview(file) {
                this.dialogImageUrl = file.url;
                this.dialogVisible = true;
            },
            fn(file) {
                this.imgList.push(file)
                console.log(this.imgList)
            },
            cancel() {
                this.form.headImg = this.beforeModificationForm.headImg
                this.form.name = this.beforeModificationForm.name
                this.imgList = []
                this.dialogFormVisible = false
            },
            // 分页
            handleSizeChange(val) {
                console.log(`每页 ${val} 条`);
                this.pageSize = val;    //动态改变
            },
            handleCurrentChange(val) {
                console.log(`当前页: ${val}`);
                this.currentPage = val;    //动态改变
            }

        },
        mounted: function () {
            params = new URLSearchParams();
            params.append('_csrf', csrf);
            this.myChart1 = echarts.init(document.getElementById('chart1'))
            axios.post('/userCount', params)
                .then(response => {
                    option1.series[0].data = response.data;
                    this.myChart1.setOption(option1)
                    console.log(option1);
                })
                .catch(data => console.log(response))
            axios.post('/recentLoginUser', params)
                .then(response => {
                    this.tableData = response.data;
                    console.log(response);
                })
                .catch(data => console.log(response))
        },
    });

</script>
</body>
</html>