<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>你的项目</title>
    <!--添加Bootstrap和fontawesome的样式-->
    <link th:href="@{/css/theme-chalk-2.15.7.css}" href="../../static/css/theme-chalk-2.15.7.css" rel="stylesheet"/>
    <link th:href="@{/css/bootstrap.css}" href="../../static/css/bootstrap.css" rel="stylesheet"/>
    <!-- 布局容器 -->
    <link th:href="@{/css/container.css}" href="../../static/css/container.css" rel="stylesheet"/>
    <link th:href="@{/css/user.css}" href="../../static/css/user.css" rel="stylesheet"/>
    <!-- 布局 -->
    <link th:href="@{/css/layout.css}" href="../../static/css/layout.css" rel="stylesheet"/>
    <!-- 下拉菜单按钮样式 -->
    <link th:href="@{/css/mycss1.css}" href="../../static/css/mycss1.css" rel="stylesheet"/>
</head>
<body>

<div id="app">
    <!--主体布局-->
    <el-container>

        <!-- 头部 -->
        <el-header id="admin-el-header" style="height: 300px;">
            <el-row type="flex" justify="space-around">
                <el-col :span="5" style="position: relative;">
                    <div class="grid-content admin-el-header-top">
                        <el-link @click="userTop" :underline="false">
                            <el-avatar
                                    :src="form.headImg"></el-avatar>
                        </el-link>
                        <div class="top-name">
                            <span>{{form.name}}</span>
                        </div>
                    </div>
                </el-col>
            </el-row>
        </el-header>

        <!-- 主体部分 -->
        <el-main width="1500px" style="background-color: white">

            <el-row type="flex" justify="space-around">
                <div style="float: left;">
                    <el-link :href="'/adminIndex'" :underline="false">
                        <span>返回</span>
                    </el-link>
                </div>
                <el-col :span="20" class="main-navigation-bar">
                    <template>

                        <el-tabs v-model="activeName" @tab-click="handleClick">
                            <el-tab-pane label="用户信息" name="first">
                                <el-row type="flex" justify="space-around">
                                    <el-col :span="10">
                                        <el-form ref="form" :model="form" label-width="80px" size="mini">
                                            <el-form-item label="账号">
                                                <el-input v-model="form.username" disabled>
                                                </el-input>
                                            </el-form-item>
                                            <el-form-item label="昵称">
                                                <el-input v-model="form.name" disabled></el-input>
                                            </el-form-item>
                                            <el-form-item label="性别">
                                                <div style="text-align: left;">
                                                    <template disabled>
                                                        <el-radio v-model="form.sex" label="男" disabled>男</el-radio>
                                                        <el-radio v-model="form.sex" label="女" disabled>女</el-radio>
                                                    </template>
                                                </div>
                                            </el-form-item>
                                            <el-form-item label="生日">
                                                <el-col :span="11">
                                                    <el-date-picker type="date" placeholder="选择日期"
                                                                    v-model="form.birthday"
                                                                    disabled
                                                                    style="width: 100%;"></el-date-picker>
                                                </el-col>
                                            </el-form-item>
                                            <el-form-item label="邮箱">
                                                <el-input v-model="form.email" placeholder="他还未绑定邮箱"
                                                          disabled></el-input>
                                            </el-form-item>
                                            <el-form-item label="地址">
                                                <el-input v-model="form.address" placeholder="他还填写地址" disabled></el-input>
                                            </el-form-item>
                                        </el-form>
                                    </el-col>
                                </el-row>
                            </el-tab-pane>

                            <el-tab-pane label="历史记录" name="second">
                                <div v-if="userHistoryFilmLength > 0">
                                    <el-col :span="4" v-for="(film, index) in userHistoryFilm" :key="film.id"
                                            :offset="index % 5 != 0 ? 1 : 0">
                                        <el-card :body-style="{ padding: '0px' }">
                                            <el-link :href="'/video/' + film.id" :underline="false">
                                                <img :src="film.imgSrc"
                                                     class="image">
                                            </el-link>
                                            <div style="padding: 20px;">
                                                <span>{{film.name}}</span>
                                            </div>
                                        </el-card>
                                    </el-col>
                                </div>

                                <el-empty v-else :image-size="200"></el-empty>
                            </el-tab-pane>

                            <el-tab-pane label="我的收藏" name="third">

                                <div v-if="userLikeFilmLength > 0">
                                    <el-col :span="4" v-for="(film, index) in userLikeFilm" :key="film.id"
                                            :offset="index % 5 != 0 ? 1 : 0">
                                        <el-card :body-style="{ padding: '0px' }">
                                            <el-link :href="'/video/' + film.id" :underline="false">
                                                <img :src="film.imgSrc"
                                                     class="image">
                                            </el-link>
                                            <div style="padding: 20px;">
                                                <span>{{film.name}}</span>
                                            </div>
                                        </el-card>
                                    </el-col>
                                </div>

                                <el-empty v-else :image-size="200"></el-empty>
                            </el-tab-pane>
                        </el-tabs>

                    </template>
                </el-col>
            </el-row>

        </el-main>

        <!-- 底部部分 -->
        <el-footer>
            <span style="color: white">底部</span>
        </el-footer>

    </el-container>

    <el-dialog :visible.sync="dialogVisible">
        <img width="100%" :src="dialogImageUrl">
    </el-dialog>

</div>

<!--js脚本-->
<script th:src="@{/js/vue-2.6.14.min.js}" src="../../static/js/vue-2.6.14.min.js"></script>
<script th:src="@{/js/vue-router.js}" src="../../static/js/vue-router.js"></script>
<script th:src="@{/js/axios-0.26.js}" src="../../static/js/axios-0.26.js"></script>
<script th:src="@{/js/element-ui-2.15.7.js}" src="../../static/js/element-ui-2.15.7.js"></script>
<script th:src="@{/js/echarts.min.js}" src="../../static/js/echarts.min.js"></script>
<script th:src="@{/js/video-vue.js}" src="../../static/js/video-vue.js"></script>
<script th:src="@{/js/video.min.js}" src="../../static/js/video.min.js"></script>
<script th:inline="javascript">

    var csrf = [[${_csrf.token}]]; // 字符串会自动添加""，数字直接显示
    let params;

    new Vue({
        el: '#app',
        data: {
            activeName: 'second',
            userHistoryFilm: [],
            userLikeFilm: [],
            /*文件上传*/
            dialogImageUrl: '',
            dialogVisible: false,
            disabled: false,
            form: [[${adminGetUser}]],
        },
        computed: {
            userHistoryFilmLength(){
                return this.userHistoryFilm.length
            },
            userLikeFilmLength(){
                return this.userLikeFilm.length
            }
        },
        methods: {
            handleClick(tab, event) {
                console.log(tab, event);
            },
            /*修改头像*/
            userTop() {
                this.dialogImageUrl = this.form.headImg;
                this.dialogVisible = true;
            },
        },
        mounted: function () {
            console.log('用户：', this.form)
            axios.get('/userHistory',{
                params: {
                    id: this.form.id,
                },
            })
                .then(response => {
                    this.userHistoryFilm = response.data;
                    console.log(response);
                })
                .catch(data => console.log(response))
            axios.get('/userLikeFilm',{
                params: {
                    id: this.form.id,
                },
            })
                .then(response => {
                    this.userLikeFilm = response.data;
                    console.log(response);
                })
                .catch(data => console.log(response))
        },
    });

</script>
</body>
</html>