<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>你的项目</title>
    <!--添加Bootstrap和fontawesome的样式-->
    <link th:href="@{/css/theme-chalk-2.15.7.css}" href="../../static/css/theme-chalk-2.15.7.css" rel="stylesheet"/>
    <link th:href="@{/css/admin.css}" href="../../static/css/admin.css" rel="stylesheet"/>
</head>
<body>

<div id="app">
    <div id="top">
        <template>
            <div class="demo-type">
                <div class="block style-left">
                    <el-avatar shape="square" :size="50" :src="url"></el-avatar>
                    <el-form ref="form" :model="sizeForm" label-width="80px" size="mini">
                        <el-form-item>
                            <el-input v-model="sizeForm.name"></el-input>
                        </el-form-item>
                    </el-form>
                </div>
                <div class="style-right">
                    <el-avatar th:src="@{}" src="../../static/images/log.jpg"></el-avatar>
                </div>
            </div>
        </template>
    </div>
</div>

<!--js脚本-->
<script th:src="@{/js/vue-2.6.14.min.js}" src="../../static/js/vue-2.6.14.min.js"></script>
<script th:src="@{/js/vue-router.js}" src="../../static/js/vue-router.js"></script>
<script th:src="@{/js/axios-0.26.js}" src="../../static/js/axios-0.26.js"></script>
<script th:src="@{/js/element-ui-2.15.7.js}" src="../../static/js/element-ui-2.15.7.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            //登录
            //控制登录表单显示还是隐藏
            loginFormVisible: false,
            //登录表单数据
            loginForm: {
                username: '',
                password: '',
            },
            url: "../../static/images/log.jpg",
            sizeForm: {
                name: 'Search',
            }
        },
        methods: {
            //重置表单
            resetForm(loginForm) {
                this.$refs[loginForm].resetFields();
            },
            /* 呼出登录表单 ----------------------------------------*/
            login() {
                this.loginFormVisible = true
            },
            /* 确定登录 */
            loginOk(loginForm) {
                this.$refs[loginForm].validate((valid) => {
                    if (valid) {
                        this.loginFormVisible = false// 隐藏表单
                        //把表单数据赋值给data
                        let data = {
                            username: this.loginForm.username,
                            password: this.loginForm.password
                        }
                        //存入表格数组
                        this.tableData.push(data)
                        //清除表单绑定的数据
                        Object.keys(this.loginForm).forEach(key => this.loginForm[key] = '');
                        this.resetForm(loginForm)
                        //提示
                        this.$notify({
                            title: '成功',
                            message: '添加数据成功',
                            type: 'success'
                        });
                    } else {
                        console.log('error submit!!');
                        return false;
                    }
                });
            },
            /* 取消登录 */
            loginNo(loginForm) {
                this.loginFormVisible = false
                //清除表单绑定的数据
                Object.keys(this.loginForm).forEach(key => this.loginForm[key] = '');
                this.resetForm(loginForm)
                //提示
                this.$notify.info({
                    title: '消息',
                    message: '您取消了登录'
                });
            },
        },
        mounted: function () {
            console.log('已经加载Vue……')
        },
    });
</script>
</body>
</html>