<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--必须填写namespace属性，是接口路径-->
<mapper namespace="com.zking.mapper.IUserMapper">

    <!--根据用户id查询，用户有哪些角色-->
    <select id="findAllJurisdictionByUserId" resultType="String">
        SELECT name FROM jurisdiction j INNER JOIN user_jurisdiction uj ON j.id=uj.jurisdiction_id
        WHERE uj.user_id=#{uid}
    </select>
    <!--根据用户id查询，用户有哪些权限-->
    <select id="findAllJurisdictionByUserId" resultType="String">
        SELECT name FROM jurisdiction j INNER JOIN user_jurisdiction uj ON j.id=uj.jurisdiction_id
        WHERE uj.user_id=#{uid}
    </select>
</mapper>