<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--必须填写namespace属性，是接口路径-->
<mapper namespace="com.zking.repository.IUserMapper">

    <!--根据用户id查询用户有哪些角色-->
    <select id="findAllRoleByUserId" resultType="String">
        SELECT name FROM role r INNER JOIN user_role ur ON r.id=ur.role_id
        WHERE ur.user_id=#{uid}
    </select>

    <!--根据用户id查询用户有哪些权限-->
    <select id="findAllAuthoritySByUserId" resultType="String">
        SELECT name
        FROM authority a
        WHERE a.id IN (SELECT DISTINCT authority_id
                       FROM role_authority
                       WHERE role_id IN  (SELECT role_id FROM user_role WHERE user_id = #{uid}));
    </select>

<!--    根据名字查询用户-->
    <select id="findUserByUsername" resultType="User">
        SELECT * FROM user where username=#{username}
    </select>
</mapper>