<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<el-row th:fragment="nplayer_vue" type="flex" align="middle">
    <el-col :span="2">
        <el-link href="../" :underline="false">
            <i class="el-icon-back">返回主页</i>
        </el-link>
    </el-col>
    <el-col :span="18">

        <el-divider>
            <!--评价，打分区域-->
            <el-card shadow="hover" :body-style="{ padding: '20px' }" style="text-align: center;">
                <div class="block">
                    <span>您认为它的分数如何</span>
                    <el-rate @click=""
                            v-model="rate"
                            :colors="colors"
                            show-text>
                    </el-rate>
                </div>
            </el-card>
        </el-divider>
    </el-col>
    <el-col :span="2">
        <el-link @click="addLike" :underline="false">
            <el-tooltip class="item" effect="dark" :content="likeInfo" placement="top-start">
            <el-button type="warning" :icon="likeCss" circle></el-button>
                </el-tooltip>
        </el-link>
    </el-col>
    <el-col :span="2">
        <el-link v-if="user=='anonymousUser'" @click="loginClick" :underline="false">
            <el-avatar size="small" src="../img/head.jpg"></el-avatar>
            <span class="qita">点击登录</span>
        </el-link>
        <el-dropdown v-if="user!='anonymousUser'">
            <el-link :underline="false">
                <el-avatar size="small" :src="'..' + user.headImg"></el-avatar>
                <span class="qita" v-text="user.username"></span>
            </el-link>
            <el-dropdown-menu slot="dropdown">
                <el-dropdown-item v-if="user.vip > 0">
                    vip到期时间：<span v-text="user.vipTime"></span>
                </el-dropdown-item>
                <el-dropdown-item v-if="user.vip < 1">
                    <div @click="vip">您还不是VIP，点击购买以获得更好的观影体验</div>
                </el-dropdown-item>
                <el-link :href="'/userIndex?userId=' + user.id">
                    <el-dropdown-item>
                        我的主页
                    </el-dropdown-item>
                </el-link>
                <el-dropdown-item>
                    <form action="/logout" method="post">
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></br>
                        <el-button native-type="submit" type="danger" icon="el-icon-delete" circle>点击登出</el-button>
                    </form>
                </el-dropdown-item>
            </el-dropdown-menu>
        </el-dropdown>
    </el-col>
</el-row>


<div th:fragment="header">
    <!-- 导航栏 -->
    <el-header>
        <!-- type="flex"开启 flex 布局 -->
        <el-row :gutter="5" type="flex" align="middle">
            <el-col :span="3" :offset="1">
                <a href="/"><img width="100%" src="img/log.png"></a>
                </form>
            </el-col>
            <el-col :span="1">
                <el-link class="shouye" href="/" :underline="false">首页</el-link>
            </el-col>
            <el-col :span="1">
                <el-link class="qita" href="/" :underline="false">电视剧</el-link>
            </el-col>
            <el-col :span="1">
                <el-link class="qita" href="/" :underline="false">电影</el-link>
            </el-col>
            <el-col :span="1">
                <el-link class="qita" href="/" :underline="false">云影院</el-link>
            </el-col>
            <el-col :span="2">
                <el-link @click="vip" class="hyzx" :underline="false">会员充值</el-link>
            </el-col>
            <el-col :span="1">
                <el-dropdown size="mini">
                    <el-button class="headDropdown qita" size="mini" icon="el-icon-arrow-down" circle>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-for="(type,index) in typeAndFilm">
                            <el-link :href="'#'+ type.type.id" :underline="false">{{type.type.name}}
                            </el-link>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
            <el-col :span="5" :offset="1">
                <el-input class="sousuo qita" placeholder="熊出没" v-model="inputHead">
                    <el-button class="shouye" slot="append" icon="el-icon-search">
                        <el-link :underline="false" :href="'fuzzyQuery?str=' + inputHead">搜索</el-link>
                    </el-button>
                </el-input>
            </el-col>
            <el-col :span="1">
                <el-link class="qita" href="/" :underline="false"><i class="el-icon-upload"></i>
                </el-link>
            </el-col>
            <el-col :span="1">
                <el-tooltip content="上传作品" placement="top">
                    <el-link class="qita" href="/" :underline="false"><i class="el-icon-upload"></i>
                    </el-link>
                </el-tooltip>
            </el-col>
            <el-col :span="1">
                <el-tooltip content="客户端下载" placement="top">
                    <el-link class="qita" href="/" :underline="false"><i
                            class="el-icon-s-platform"></i>
                    </el-link>
                </el-tooltip>

            </el-col>
            <el-col :span="1">
                <el-tooltip content="历史播放" placement="top">
                    <el-link class="qita" href="/userIndex" :underline="false"><i class="el-icon-time"></i>
                    </el-link>
                </el-tooltip>
            </el-col>
            <el-col :span="2">
                <el-link th:if="${#authentication?.name == 'anonymousUser'}" href="loginUser" :underline="false">
                    <el-avatar size="small" src="img/head.jpg"></el-avatar>
                    <span class="qita">点击登录</span>
                </el-link>
                <el-dropdown th:if="${#authentication?.name != 'anonymousUser'}">
                    <el-link :underline="false">
                        <el-avatar size="small" th:src="${#authentication.principal.headImg}"></el-avatar>
                        <span class="qita" th:text="${#authentication.name}"></span>
                    </el-link>

                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item th:v-if="${#authentication.principal.vip} > 0">
                            vip到期时间：<span th:text="${#authentication.principal.vipTime}"></span>
                        </el-dropdown-item>
                        <el-dropdown-item th:v-if="${#authentication.principal.vip} < 1">
                            <div @click="vip">您还不是VIP，点击购买以获得更好的观影体验</div>
                        </el-dropdown-item>

                        <el-link th:href="'/userIndex?userId=' + ${#authentication.principal.id}">
                            <el-dropdown-item>
                                我的主页
                            </el-dropdown-item>
                        </el-link>

                        <el-dropdown-item>
                        </el-dropdown-item>

                        <el-dropdown-item>
                            <form action="/logout" method="post">
                                <input type="hidden" th:id="${_csrf.parameterName}" th:name="${_csrf.parameterName}"
                                       th:value="${_csrf.token}"/></br>
                                <el-button native-type="submit" type="danger" icon="el-icon-delete" circle>点击登出
                                </el-button>
                            </form>
                        </el-dropdown-item>

                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
        </el-row>
    </el-header>
</div>

<div th:fragment="adminHeader">
    <el-header id="admin-el-header" style="height: 200px;">
        <!-- type="flex"开启 flex 布局 -->
        <el-row :gutter="5" type="flex" align="middle" style="height: 80px;">
            <el-col :span="3" :offset="1">
                <a href="/"><img width="100%" height="60px" th:src="@{/images/ikun.png}"
                                 src="../../static/images/ikun.png"></a>
                </form>
            </el-col>
            <el-col :span="8" :offset="1">
                <el-input placeholder="熊出没" v-model="inputHead">
                    <el-button slot="append" icon="el-icon-search" style="margin: -11px 0;">搜索</el-button>
                </el-input>
            </el-col>
            <el-col :span="6" :offset="1">
            </el-col>
            <el-col :span="1">
                <el-dropdown>
                    <el-badge :value="12" class="item">
                        <i class="el-icon-bell"></i>
                    </el-badge>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>黄金糕</el-dropdown-item>
                        <el-dropdown-item>狮子头</el-dropdown-item>
                        <el-dropdown-item>螺蛳粉</el-dropdown-item>
                        <el-dropdown-item>双皮奶</el-dropdown-item>
                        <el-dropdown-item>蚵仔煎</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
            <el-col :span="2">
                <el-link th:if="${#authentication?.name == 'anonymousUser'}" href="loginUser" :underline="false">
                    <el-avatar size="small" src="img/head.jpg"></el-avatar>
                    <span class="qita">点击登录</span>
                </el-link>
                <el-dropdown>
                    <el-link th:if="${#authentication?.name != 'anonymousUser'}" :underline="false">
                        <el-avatar size="small" th:src="${#authentication.principal.headImg}"></el-avatar>
                        <span class="qita" th:text="${#authentication.name}"></span>
                    </el-link>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>
                            <form action="/logout" method="post">
                                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></br>
                                <el-button native-type="submit" type="danger" icon="el-icon-delete" circle>点击登出
                                </el-button>
                            </form>
                        </el-dropdown-item>
                        <el-dropdown-item>狮子头</el-dropdown-item>
                        <el-dropdown-item>螺蛳粉</el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
        </el-row>
        <el-row :gutter="2" type="flex" align="middle" style="height: 30px;font-size: 20px;color: white;">
            <el-col :span="1" style="margin-left: 5%">
                <a class="btn text-decoration-none" style="color: white;"
                   th:href="@{/adminIndex}"
                   href="adminIndex.html"><i
                        class="el-icon-menu"></i></a>
            </el-col>
            <el-col :span="1" type="flex" align="left">
                <a class="btn text-decoration-none" style="color: white;"
                   th:href="@{/adminIndex}"
                   href="adminIndex.html"><span>主页</span></a>
            </el-col>
            <el-col :span="1" style="">
                <a class="btn text-decoration-none" style="color: white;"
                   th:href="@{/adminFilm}"
                   href="adminFilm.html"><i
                        class="el-icon-video-camera-solid"></i></a>
            </el-col>
            <el-col :span="4" type="flex" align="left">
                <a class="btn text-decoration-none" style="color: white;"
                   th:href="@{/adminFilm}"
                   href="adminFilm.html"><span>电影管理</span></a>
            </el-col>
        </el-row>
        <el-row type="flex" justify="space-around" style="height: 50px;">
            <el-col :span="20" style="position: relative;height: 50px;">
                <div class="grid-content bg-purple-dark admin-row2">
                    <span style="margin-left: 10px">电影管理</span>
                </div>
            </el-col>
        </el-row>
    </el-header>
</div>


</body>
</html>