<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>用户是否登录的头像显示</h2>

<div th:fragment="header">
    <!-- 头部 -->
    <el-header>
        <!-- type="flex"开启 flex 布局 -->
        <el-row :gutter="5" type="flex" align="middle">
            <el-col :span="3" :offset="1">
                <a href="img/ikun.png"><img width="100%" src="img/ikun.png"></a>
                </form>
            </el-col>
            <el-col :span="1">
                <el-link class="shouye" href="img/ikun.png" :underline="false">首页</el-link>
            </el-col>
            <el-col :span="1">
                <el-link class="qita" href="img/ikun.png" :underline="false">电视剧</el-link>
            </el-col>
            <el-col :span="1">
                <el-link class="qita" href="img/ikun.png" :underline="false">电影</el-link>
            </el-col>
            <el-col :span="1">
                <el-link class="qita" href="img/ikun.png" :underline="false">云影院</el-link>
            </el-col>
            <el-col :span="2">
                <el-link @click="vip" class="hyzx" :underline="false">会员充值</el-link>
            </el-col>
            <el-col :span="1">
                <el-dropdown size="mini">
                    <el-button class="headDropdown qita" size="mini" icon="el-icon-arrow-down" circle>
                    </el-button>
                    <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item v-for="(classify,index) in classifys">
                            <el-link class="qita" :href="'#'+ classify.id" :underline="false">{{classify.name}}
                            </el-link>
                        </el-dropdown-item>
                    </el-dropdown-menu>
                </el-dropdown>
            </el-col>
            <el-col :span="5" :offset="1">
                <el-input class="sousuo qita" placeholder="熊出没" v-model="inputHead">
                    <el-button class="shouye" slot="append" icon="el-icon-search">搜索</el-button>
                </el-input>
            </el-col>
            <el-col :span="1">
                <el-link class="qita" href="img/ikun.png" :underline="false"> <i class="el-icon-upload"></i>
                </el-link>
            </el-col>
            <el-col :span="1">
                <el-tooltip content="上传作品" placement="top">
                    <el-link class="qita" href="img/ikun.png" :underline="false"> <i class="el-icon-upload"></i>
                    </el-link>
                </el-tooltip>
            </el-col>
            <el-col :span="1">
                <el-tooltip content="客户端下载" placement="top">
                    <el-link class="qita" href="img/ikun.png" :underline="false"> <i
                            class="el-icon-s-platform"></i>
                    </el-link>
                </el-tooltip>

            </el-col>
            <el-col :span="1">
                <el-tooltip content="历史播放" placement="top">
                    <el-link class="qita" href="img/ikun.png" :underline="false"> <i class="el-icon-time"></i>
                    </el-link>
                </el-tooltip>
            </el-col>
            <el-col :span="2">
                <div th:insert="~{fragments/userlogin::userlogin('点击登录')}"></div>
            </el-col>
        </el-row>
    </el-header>
</div>

</body>
</html>