<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <div th:replace="~{fragments/css::css}"></div>

</head>

<body>


<div id="app">


    <el-container>

        <!-- 头部 -->
        <div th:replace="~{fragments/header::header}"></div>

        <!-- 主体部分 -->
        <el-main width="1500px">
            <!-- 轮播部分 -->
            <el-row class="lunbo" type="flex" justify="space-around">
                <el-col :span="22">
                    <div>
                        <el-carousel height="400px" direction="vertical">
                            <el-carousel-item class="mohu" v-for="film in frontList" :key="film.name">
                                <el-link  :href="'/video/' + film.id"  :underline="false">
                                    <!--                                    <img class="mohuImg" width="100%" :src="item.src" alt="图片丢失了"-->
                                    <!--                                         :name="item.title" /></i>-->

                                    <video width="1000px" height="600px" controls autoplay
                                           :src="film.coverSrc"></video>

                                </el-link>
                                <!-- <img width="100%" :src="item.src" alt="图片丢失了" :name="item.title" /> -->
                            </el-carousel-item>
                        </el-carousel>
                    </div>
                </el-col>
            </el-row>

            <!-- 电影分类 -->
            <div v-for="(element,index) in typeAndFilm">
                <el-row>
                    <el-col :id="element.type.id" class="className" :push="1" :span="1">
                        <h2>{{element.type.name}}</h2>
                    </el-col>
                </el-row>
                <el-row :gutter="0">

                    <el-col :offset="1" :span="3" v-for="(film,index) in element.films">
                        <el-tooltip :content="film.name" placement="top" :visible-arrow="false">
                            <el-link :href="'/video/' + film.id" :underline="false">
                                <el-card class="box-card movie">
                                    <img height="120px" width="100%" :src="film.imgSrc"><br>
                                    <b><span>{{film.name}}</span></b><br><br>
                                    <span>{{film.info}}</span><br>
                                </el-card>
                            </el-link>
                        </el-tooltip>
                    </el-col>

                </el-row>
            </div>

        </el-main>


        <!-- 底部部分 -->
        <el-footer>
            <el-row type="flex" justify="start">
                <el-col :span="8">
                    <p>关于我们</p>
                    <p>用户用户名信息：<span th:text="${#authentication.name}"></span></p>
                    <p>用户权限信息：<span th:text="${#authentication.authorities}"></span></p>
                    <p>用户信息：<span th:text="${#authentication.principal}"></span></p>
                </el-col>
                <el-col :span="8">
                    <p>联系我们</p>
                </el-col>
                <el-col :span="8">
                    <p>服务</p>
                </el-col>
            </el-row>
            <div style="height: 80px;"></div>
        </el-footer>

    </el-container>


    <!-- vip购买弹出框 -->
    <div th:replace="~{fragments/vip::vip}"></div>


</div>
</body>

<script th:replace="~{fragments/indexjs::js}"></script>

</html>