<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/css/theme-chalk-2.15.7.css}" href="../static/css/theme-chalk-2.15.7.css" rel="stylesheet"/>
    <style>
        .el-header {
            color: #333;
            text-align: center;
            line-height: 60px;
        }
    </style>

</head>
<body>
<div id="app">

    <!--登录表单-->
    <div th:replace="~{fragments/loginFrom::loginFrom}"></div>

    <el-container>
        <!--头部-->
        <el-header>
            <div th:replace="~{fragments/header::nplayer_vue}"></div>
        </el-header>

        <!--主体-->
        <el-main>
            <!--视频显示-->
            <div th:replace="~{fragments/nplayerMain::nplayerMain}"></div>
        </el-main>

    </el-container>
</div>

<script th:src="@{/js/vue-2.6.14.min.js}" src="../static/js/vue-2.6.14.min.js"></script>
<script th:src="@{/js/axios-0.26.js}" src="../static/js/axios-0.26.js"></script>
<script th:src="@{/js/element-ui-2.15.7.js}" src="../static/js/element-ui-2.15.7.js"></script>

<!--nplayer脚本-->

<script th:src="@{/js/player/nplayer.min.js}" src="../static/js/player/nplayer.min.js"></script>
<script th:src="@{/js/player/danmaku.min.js}" src="../static/js/player/danmaku.min.js"></script>
<script th:src="@{/js/player/nplayer_vue_1.0.12.min.js}" src="../static/js/player/nplayer_vue_1.0.12.min.js"></script>

<script th:inline="javascript">
    /*后端API
    * /video/{id} - 打开指定id的视频页面
    * /video/login - AJAX异步登录，测试用
    * /video/{id}/message - 发送消息，发送数据为：BarrageMessageDTO
    * /video/{id}/barrages - 获取数据库中的消息，接收为：List<BarrageMessageDTO>
    * http://localhost:8080
    * */

    /**
     private String text; // 弹幕文字
     private String color; // 弹幕颜色
     private Double time; // 弹幕出现时间
     private Type type; // 弹幕类型，默认滚动
     private Boolean isMe; // 是否是当前用户发送的
     private Boolean force; // 是否强制展示该弹幕
     // 自定义字段
     private Integer userId; // 用户ID
     private Integer movieId; // 哪个视频
     private Long sendTime; // 发送的时间
     private String bgColor; // 弹幕颜色
     */

    let userId = [[${userId}]] // 这几个字段如果用thymeleaf模板，应该为thymeleaf语法
    let movieId = [[${movieId}]] // thymeleaf模板model参数
    let film = [[${film}]] // 电影对象
    let login = [[${login}]] // 是否登录
    let userInfo = [[${authentication?.principal}]]


    var csrf = [[${_csrf.token}]]; // 字符串会自动添加""，数字直接显示

    Vue.use(NPlayerVue)
    new Vue({
        el: '#app',
        data: {
            //登录表单是否显示
            loginVisible: false,
            loginForm: {
                username: 'admin',
                password: 'admin',
                _csrf: csrf,
            },
            user: userInfo,

            player: null,
            danmaku: null,
            options: {
                controls: [
                    ['play', 'volume', 'time', 'spacer', 'airplay', 'settings', 'web-fullscreen', 'fullscreen'],
                    ['progress']
                ],
                plugins: [new NPlayerDanmaku({
                    autoInsert: true,
                })],
                src: film.mp4Src,
            },
            messageList: [], // 后端发送的数据，应该按发送时间排序！不是电影时间！
            message: '', // 单条字幕，暂时没用到
            isLogin: login, // 已经登录
        },
        computed: {
            messages: function () {
                return this.messageList && this.messageList.map(v => `${v.userId}: [${parseFloat(v.movieTime).toFixed(2)}] ${v.content}`).join('\n')
            },
            danmakuMessages: function () {
                return this.messageList.sort((a, b) => a.time - b.time)
            },
        },
        methods: {
            //头部
            goBack() {
                console.log('go back');
            },

            setPlayer(player) {
                this.player = player;
                this.player.on('DanmakuSend', msg => {
                    this.sendMessage(msg)
                })
                this.danmaku = this.player.danmaku
                this.player.on('DanmakuUpdateOptions', () => {
                    console.log(`更新弹幕配置：`, this.danmaku.opts)
                })
            },
            // +++
            setDanmaku() {
                console.log(this.danmaku.el)
                this.danmaku.appendItems(this.messageList) // +++
            },
            sendMessage(msg) {
                if (!login) {
                    this.$confirm('登录后其他人也能看到你发送的弹幕！', "信息", "确定")
                        .then(_ => {
                            console.log('===============123')
                            this.loginVisible = true
                        })
                        .catch(_ => {
                            console.log('取消了')
                        })
                    return
                }
                // +++
                let vip = true
                if (!vip) {
                    // 不是vip，颜色不能调整
                    msg.color = '#FFFFFF'
                }

                // msg对象：color: "#FFFFFF" force: true isMe: true text: "123" time: 9.747125 type: "scroll"
                if (msg.text.trim() === '') {
                    return
                }
                let data = {
                    text: msg.text.trim(),
                    color: msg.color,
                    time: msg.time.toFixed(2),
                    type: msg.type, // msg.type, +++
                    isMe: msg.isMe,
                    force: msg.force,
                    userId: userId,
                    movieId: movieId,
                    sendTime: new Date().getTime(),
                    bgColor: '#ffffff', // 这个插件没法调整背景色
                    _csrf:csrf,
                }
                this.messageList.push(data)
                const params = new FormData();
                params.append('text', msg.text.trim())
                params.append('color', msg.color)
                params.append('time', msg.time.toFixed(2))
                params.append('type', msg.type)
                params.append('isMe', msg.isMe)
                params.append('force', msg.force)
                params.append('userId', userId)
                params.append('movieId', movieId)
                params.append('sendTime', new Date().getTime())
                params.append('bgColor', '#ffffff')
                params.append('_csrf', csrf)

                axios.post(`/video/${movieId}/message`, params)
                    .then(resp => console.log('发送弹幕成功！', resp.data) || this.$message.success('发送后台成功！'))
                    .catch(err => console.log('发送弹幕失败！', err) || this.$message.error('发送后台失败，忽略！'))
            },
            setupWebSocket() {
                if (this.socket) {
                    this.socket.close()
                }
                this.socket = new WebSocket(`/ws/${movieId}/${userId}`)
                this.socket.onerror = err => console.log('WebSocket Error', err)
                this.socket.onopen = () => console.log('WebSocket Connected!')
                this.socket.onmessage = event => {
                    let message = JSON.parse(event.data)
                    // 测试
                    console.log('收到消息：', message)
                    this.updateDanmakuMessages(message)
                    if (message.movieId === movieId && userId !== message.userId) {
                        message.isMe = false // +++
                        this.messageList.push(message)
                    } else {
                        console.log('收到一条【恶意】消息（包含用户自己的重复消息）：', message)
                    }
                }
            },
            //发送登录请求
            loginNow: function () {
                let data = new FormData()
                data.append('username', this.loginForm.username)
                data.append('password', this.loginForm.password)
                data.append('remember-me', 'true')
                data.append('_csrf', this.loginForm._csrf) // 不能少
                axios({
                    method: 'post',
                    url: '/login',
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest', // 这个用作标记，后台判断是否为AJAX还是表单提交
                        // 'Content-Type': 'application/x-www-form-urlencoded',
                    },
                    data: data,
                })
                    .then(resp => {
                        if (resp.data) {
                            console.log('登录结果：', resp.data)
                            this.$message.success('登录成功！')
                            this.user = resp.data
                            userId = this.user.id
                            userInfo = this.user
                            login = true
                            this.loginVisible = false;
                        } else {
                            this.$message.warning('登录失败！账号或者密码错误！')
                        }
                    })
                    .catch(err => {
                        console.log('登录失败：', err)
                        this.$message.error('登录失败！')
                    })


            },
            loginClick: function (i) {
                this.loginVisible = true;
            },
            send() {
                this.$alert('请在视频下方发送弹幕！')
            },
            updateDanmakuMessages(message) {
                const oldItems = this.danmaku.getItems()
                const sortedItems = oldItems.concat(message).sort((a, b) => a.time - b.time)
                this.danmaku.resetItems(sortedItems)
            },
        },
        mounted() {
            // 测试
            // if (location.protocol !== 'http') {
            //     return
            // }
            // this.setupWebSocket()
            axios.defaults.withCredentials = true
            axios.get(`../video/${movieId}/barrages`)
                .then(res => {
                    console.log('获取到的数据', res.data)
                    this.messageList = (console.log(res) || res.data)
                    this.setDanmaku()
                })
                .catch(err => this.$message.error('获取弹幕失败！'))
        },
    })
</script>
</body>
</html>
